@page{
    size:A4;
    margin:0;

}

.btn{
    display: none;
    visibility: none;
}

.prints{
    display: contents;
}

.nav-header{
    display: none;
    visibility: none;
}

.header{
    display: none;
    visibility: none;
}

.dlabnav{
    display: none;
    visibility: none;
}

.page-titles{
    display: none;
    visibility: none;
}

.tap{
    display: none;
    visibility: none;
}

.from0{
    display: none;
    visibility: none;
}

.from1{
    display: none;
    visibility: none;
}

.card-title{
    display: none;
    visibility: none;
}

.nav-tabs{
    display: none;
    visibility: none;
}

.from_row{
    display: none;
    visibility: none;
}

.lis{
    width: 200px;
}

#main-wrapper{
    display: none;
    visibility: none;
}

.doc_0{
    width: 100%;
    height: 1100px;
    background: black;
    /* margin-top: -10rem;
    margin-left: -20rem; */
   
}